language: minimal
sudo: false
notifications:
  email: false

branches:
  except:
    - docs
    - salem-dev
    - refactor
    - dev

matrix:
  fast_finish: true
  include:
  - env: CONDA_ENV=py27-all MPL=--mpl
  - env: CONDA_ENV=py36-all MPL=--mpl
  - env: CONDA_ENV=py36-all-xr10 MPL=--mpl
  - env: CONDA_ENV=py36-min MPL=
  - env: CONDA_ENV=py36-xr MPL=
  - env: CONDA_ENV=py36-xarray-dev MPL=--mpl
  - env: CONDA_ENV=py36-all-rc MPL=--mpl
  allow_failures:
  - env: CONDA_ENV=py27-all MPL=--mpl
  - env: CONDA_ENV=py36-xr MPL=
  - env: CONDA_ENV=py36-xarray-dev MPL=--mpl
  - env: CONDA_ENV=py36-all-rc MPL=--mpl

before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - pip install pyyaml

before_script:
  - export DISPLAY=:99.0

install:
  - conda env create --file ci/requirements-$CONDA_ENV.yml --quiet
  - source activate test_env
  - pip install -e .

script:
  - which python
  - python --version
  - pytest salem $MPL --verbose --cov=salem --cov-report term-missing;

after_success:
  - coveralls
