language: python
sudo: false
notifications:
  email: false

branches:
  except:
    - docs
    - salem-dev
    - refactor
    - dev

matrix:
  fast_finish: true
  include:
  - python: 2.7
    env: CONDA_ENV=py27-all
  - python: 3.5
    env: CONDA_ENV=py35-all
  - python: 3.5
    env: CONDA_ENV=py35-min
  - python: 3.5
    env: CONDA_ENV=py35-xr
  allow_failures:
  - env: CONDA_ENV=py35-all-rc

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - pip install pyyaml

install:
  - conda env create --file ci/requirements-$CONDA_ENV.yml --quiet
  - source activate test_env
  - pip install -e .

script:
  - py.test salem --cov=salem --cov-report term-missing

after_success:
  - coveralls
